body {
  background-color: rgb(11, 10, 10);
}


.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}


h1 {
  color: white;
  font-size: 4rem;
}


button {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.add-button {
  background-color: hsl(125, 47%, 54%);
}
.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}


.delete-button {
  background-color: hsl(6, 91%, 55%);
}
.delete-button:hover {
  background-color: hsl(6, 74%, 48%);
}


.move-button {
  background-color: hsl(207, 75%, 55%);
}
.move-button:hover {
  background-color: hsl(207, 75%, 45%);
}


input[type="text"] {
  font-size: 1.4rem;
  padding: 8px;
  margin-right: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}


li {
  font-size: 1.4rem;
  font-weight: bold;
  background: rgb(247, 246, 246);
  padding: 12px;
  margin-bottom: 8px;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
  display: flex;
  align-items: center;
}


.task {
  flex: 1;
  text-align: left;
}


.delete-button,
.move-button {
  padding: 6px 10px;
  font-size: 1rem;
  margin-left: 5px;
}
